.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    border-style: solid;
  }
  .games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .game-info-container {
    width: 300px;
    height: 200px;
    margin: 20px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
