.current-city {
    border-style: solid;
}
.header {
    background: linear-gradient(.25turn, blue, 90%, black);
}
.title {
    text-align: right;
    padding-right: 40%;
    color: white;
}
.s-sidebar {
    border-right: solid black;
}
.forecast {
    display: flex;
    flex-wrap: wrap;
}
.forecast-box {
    border-style: solid;
    color: black;
    margin: 1rem;
    padding: 1rem;
    background-color: blue;
}
.text-color {
    color: white;
}
